

<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-lg-10">
    <h2>New Site</h2>
  </div>
</div>
<div class="row">
  <div class="col-lg-12">
    <div class="ibox float-e-margins">
      <div class="ibox-content">
        <form accept-charset="UTF-8" action="/sites" method="post" class="form-horizontal">
          <div class="form-group"><label class="col-sm-2 control-label">Название</label>
              <div class="col-sm-10"><input id="site_name" name="site[name]" type="text" class="form-control"></div>
          </div>
          <div class="hr-line-dashed"></div>
          <div class="form-group"><label class="col-sm-2 control-label">Тэги</label>
              <div class="col-sm-10">
                <ul id="myTags"></ul>
              </div>
          </div>
          <button class="btn btn-primary" type="submit">Сохранить</button>
        </form>
      </div>
    </div>
  </div>
</div>


<link rel="stylesheet" type="text/css" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1/themes/flick/jquery-ui.css">
<script type="text/javascript">
$(document).ready(function() {
  $.getJSON("/tags.json", function(data){
    var items = [];
  $.each( data, function( key ) {
    items.push( "<li>" + val + "</li>" );
  });

  $( "<ul/>", {
    "class": "my-new-list",
    html: items.join( "" )
  }).appendTo( "body" );
  });

  var tags = [];

 console.log(tags);
  $("#myTags").tagit({
    availableTags: tags,
    autocomplete: {delay: 0, minLength: 1}
  });
});
</script>
