<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-lg-10">
      <h2>Profile</h2>
  </div>
  <div class="col-lg-2"></div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
  <div class="row m-b-lg m-t-lg">
    <div class="col-md-6">

        <div class="profile-image">
            <img src="{{user.image_url}}" class="img-circle circle-border m-b-md" alt="profile">
        </div>
        <div class="profile-info">
            <div class="">
                <div>
                    <h2 class="no-margins">{{user.name}}</h2>
                    <h4>Popular user</h4>
                    <small>
                        There are many variations of passages of Lorem Ipsum available, but the majority
                        have suffered alteration in some form Ipsum available.
                    </small>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-2">
        <table class="table small m-b-xs">
            <tbody>
            <tr>
                <td>
                   <strong>{{sitesCount}}</strong> Sites
                </td>
            </tr>
            <tr>
                <td>
                    <strong>{{commentsCount}}</strong> Comments
                </td>
            </tr>
            <tr>
                <td>
                    <strong>{{totalViews}}</strong> Total views
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="col-md-4">
        <small>Views in last 24h</small>
        <h2 class="no-margins">32</h2>
        <div id="sparkline1"></div>
    </div>



  </div>

  <div class="ibox">
    <div class="ibox-title">
        <h5>All projects assigned to this account</h5>
        <div class="ibox-tools">
            <a href="/sites/new" permission permission-only="'user'" class="btn btn-primary btn-xs">Create new project</a>
        </div>
    </div>
    <div class="ibox-content">
      <div class="project-list">

        <table class="table table-hover">
          <tbody>
            <tr ng-repeat="site in sites">
              <td class="project-title">
                <a href="/sites/{{site.id}}">{{site.name}}</a>
                <br />
                <small><b>Created</b> {{site.created_at | timeAgo}}</small>
                <br />
                <small><i class="fa fa-eye"></i> {{site.views}}</small>
              </td>
              <td class="project-tags">
                <ul class="tag-list" style="padding: 0" > <!-- -->
                  <li ng-repeat="tag in site.tags"><a href=""><i class="fa fa-tag"></i> {{tag.name}}</a></li>
                </ul>
              </td>
              <td class="project-people">
                <a href="/users/{{site.user.id}}"><img alt="image" class="img-circle" src="{{ site.user.image_url }}"></a>
              </td>
              <td class="project-actions">
                  <a href="/sites/{{site.id}}" class="btn btn-white btn-sm"><i class="fa fa-folder"></i> View </a>
                  <a href="#" class="btn btn-white btn-sm" permission permission-only="['author', 'admin']"><i class="fa fa-pencil"></i> Edit </a>
                  <a href="#" class="btn btn-white btn-sm" permission permission-only="['author', 'admin']" ng-click="deleteSite(site.id)"><i class="fa fa-trash"></i> Delete </a>
              </td>
            </tr>
          </tbody>
        </table>

      </div>
    </div>
  </div>
</div>


<script type="text/javascript">


$(function() {

    $("#sparkline1").sparkline([3, 4, 5, 2, 1, 7, 2, 4], {
        type: 'line',
        width: '100%',
        height: '50',
        lineColor: '#1ab394',
        fillColor: "transparent"
    });


});

</script>
